.main {
    background: white;
    text-align: center;
}

label {
    font-size: 40px;
}

.box {
    border: 2px solid black;
    height: 10%;
    font-size: 50px;
}

.no {
    border: 2px solid black;
    background-color: white;
    border-radius: 0px;
    margin-top: 10px;
    height: 10%;
    font-size: 50px;
}

.noPanel, .board {
    margin-top: 50px;
}

.btn-trans, .btn-trans:focus, .btn-trans:hover {
    background-color: gray;
    color: white;
    border-radius: 0px;
    margin-top: 10px;
    font-size: 20px;    
}